<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.protocoder"
    android:versionCode="12"
    android:versionName="0.96.1" >
    <uses-sdk android:targetSdkVersion="L"  android:minSdkVersion="14" />

    <application
        android:name="org.protocoder.MainApp"
        android:icon="@drawable/protocoder_icon"
        android:label="@string/app_name"
        android:theme="@style/ProtocoderTheme" >
        <activity
            android:name="org.protocoder.LauncherActivity"
            android:icon="@drawable/protocoder_icon"
            android:label="@string/activity_name"
            android:logo="@drawable/protocoder_icon"
            android:theme="@style/ProtocoderLaunchTheme"
            android:launchMode="singleInstance"
            android:stateNotNeeded="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="org.protocoder.MainActivity"
            android:label="@string/activity_name"
            android:logo="@drawable/protocoder_icon" >
        </activity>
        <activity
            android:name="org.protocoder.AboutActivity"
            android:label="@string/activity_name" >
        </activity>
        <activity
            android:name="org.protocoder.WelcomeActivity"
            android:label="@string/activity_name" >
            android:noHistory="true" >
        </activity>
        <activity
            android:name="org.protocoder.LicenseActivity"
            android:label="@string/settings_activity_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name="org.protocoder.SetPreferenceActivity"
            android:label="@string/settings_activity_name"
            android:noHistory="true" >
        </activity>

        <activity android:name="org.protocoder.ProtoAppInstallerActivity"
            android:label="@string/activity_name"
            android:logo="@drawable/protocoder_icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="org.protocoder.ProtoAppInstallerActivity" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.proto" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <!-- android:screenOrientation="portrait" -->


    </application>

</manifest>