 /*
  *= require foundation/foundation.min
  *= require tomorrow-night-bright
  */

#ace form {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height:300px;
  overflow: hidden;
}
.editorError {
  color: red;
}
#infobox {
  min-height: 250px;
}
#docs {
  overflow: auto;
  .row {
    margin-top: 30px;
  }
}
pre code {
  padding: 15px;
}
.logtail {
  border: 1px solid #ddd;
  height: 200px;
  overflow: auto;
  
  font-size: 0.8em;
}
.logline {
  display: block;
}
.align_right {
  text-align: right;
}
.info {
  margin: 40px 0;
}

.graph {
}

svg {
  font: 8px sans-serif;
}
 
svg .line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
