/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}

#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
#videocontainer {
  display: block !important;
}
#rightinfo h2 {
  font-size: 2em;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}

#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
#videocontainer {
  display: block !important;
}
#rightinfo h2 {
  font-size: 2em;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}

#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
#videocontainer {
  display: block !important;
}
#rightinfo h2 {
  font-size: 2em;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}

#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
#videocontainer {
  display: block !important;
}
#rightinfo h2 {
  font-size: 2em;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}



#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
body {
  background-color: #afafaf;
}
#videocontainer {
  display: block !important;
}
#rightinfo {
  background: #555555;
}
#rightinfo h1 {
  font-size: 1.5em;
  color: #bbbbbb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#rightinfo h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.48);
  padding: 6px;
  border-radius: 2px;
}
#url {
  font-size: 1.2em !important;
  color: #8a8a8a;
  font-family: serif;
}
#clone-code {
  background-color: #96900f;
}
#clone-code:hover {
  background-color: #beb714;
}
.backdrop {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}



#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
body {
  background-color: #afafaf;
}
#videocontainer {
  display: block !important;
}
#rightinfo {
  background: #555555;
}
#rightinfo h1 {
  font-size: 1.5em;
  color: #bbbbbb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#rightinfo h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.48);
  padding: 6px;
  border-radius: 2px;
}
#url {
  font-size: 1.2em !important;
  color: #8a8a8a;
  font-family: serif;
}
#clone-code {
  background-color: #96900f;
}
#clone-code:hover {
  background-color: #beb714;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#thanks-popup-wrapper {
  display: block;
  text-align: centre;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}
#thanks-popup-wrapper div#popup-text {
  margin-top: 1em;
  clear: both;
}
#thanks-popup {
  font-size: 1.5em;
  margin-top: 10%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
  padding: 2em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#thanks-popup #share-links {
  clear: both;
  margin-top: 0em;
}
#thanks-popup #twitter {
  margin-top: 1em;
  text-align: center;
}
#thanks-popup span {
  background-color: black;
}
#close-thanks-popup {
  float: right;
  top: -1em;
  position: relative;
  left: 1em;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}



#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
body {
  background-color: #afafaf;
}
#videocontainer {
  display: block !important;
}
#rightinfo {
  background: #555555;
}
#rightinfo h1 {
  font-size: 1.5em;
  color: #bbbbbb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#rightinfo h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.48);
  padding: 6px;
  border-radius: 2px;
}
#url {
  font-size: 1.2em !important;
  color: #8a8a8a;
  font-family: serif;
}
#clone-code {
  background-color: #96900f;
}
#clone-code:hover {
  background-color: #beb714;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#thanks-popup-wrapper {
  display: none;
  text-align: centre;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}
#thanks-popup-wrapper div#popup-text {
  margin-top: 1em;
  clear: both;
}
#thanks-popup {
  font-size: 1.5em;
  margin-top: 10%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
  padding: 2em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#thanks-popup #share-links {
  clear: both;
  margin-top: 0em;
}
#thanks-popup #twitter {
  margin-top: 1em;
  text-align: center;
}
#thanks-popup span {
  background-color: black;
}
#close-thanks-popup {
  float: right;
  top: -1em;
  position: relative;
  left: 1em;
}
/*#editor-wrapper{
  height:300px!important;
	width: 800px!important;

}



#editor {
	height: 300px;
	margin-right: 25px;
	border-right: 1px solid black; 
	margin-left: 0px;
	width: 800px!important;
 
	border-radius: 0px; 
}

*/
body {
  background-color: #afafaf;
}
#videocontainer {
  display: block !important;
}
#rightinfo {
  background: #555555;
}
#rightinfo h1 {
  font-size: 1.5em;
  color: #bbbbbb;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#rightinfo h2 {
  font-size: 1.5em;
  text-align: center;
  margin: 2px;
  background-color: rgba(0, 0, 0, 0.48);
  padding: 6px;
  border-radius: 2px;
}
#url {
  font-size: 1.2em !important;
  color: #8a8a8a;
  font-family: serif;
}
#clone-code {
  background-color: #96900f;
}
#clone-code:hover {
  background-color: #beb714;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#thanks-popup-wrapper {
  display: none;
  text-align: centre;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 500;
}
#thanks-popup-wrapper div#popup-text {
  margin-top: 1em;
  clear: both;
}
#thanks-popup {
  font-size: 1.5em;
  margin-top: 10%;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: white;
  padding: 2em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
#thanks-popup #share-links {
  clear: both;
  margin-top: 0em;
}
#thanks-popup #twitter {
  margin-top: 1em;
  text-align: center;
}
#thanks-popup span {
  background-color: black;
}
#close-thanks-popup {
  float: right;
  top: -1em;
  position: relative;
  left: 1em;
}
