.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #ffffff;
  text-decoration: none;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 19px;
  float: left;
  cursor: move;
  font-weight: 200;
}
#header-block span {
  color: rgba(41, 41, 41);
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
}
.button:hover {
  background-color: #4DD2dd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
}
#instrucciones p {
  margin-left: 15px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 19px;
  float: left;
  cursor: move;
}
#header-block span {
  color: black;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #4DD2dd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 19px;
  float: left;
  cursor: move;
}
#header-block span {
  color: black;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 18px;
  float: left;
  font-weight: 200;
  cursor: move;
}
#header-block span {
  color: #292929;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 18px;
  float: left;
  font-weight: 200;
  cursor: move;
}
#header-block span {
  color: #292929;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 18px;
  float: left;
  font-weight: 200;
  cursor: move;
}
#header-block span {
  color: #292929;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 18px;
  float: left;
  font-weight: 200;
  cursor: move;
}
#header-block span {
  color: #292929;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 18px;
  float: left;
  font-weight: 200;
  cursor: move;
}
#header-block span {
  color: #292929;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
.general {
  font-family: Helvetica,arial, sans;
}
.general a {
  text-decoration: none;
  color: #4dd2ff;
}
.general a:visited {
  color: #4dd2ff;
}
#main {
  /*position: absolute;*/

  z-index: 100;
  width: 100%
	top:0px;
  left: 0px;
  color: #ffffff;
  font-family: Helvetica,arial, sans;
}
#main a {
  color: #888;
  text-decoration: none;
  font-weight: bold;
}
#big-video-wrap {
  position: fixed;
}
#header-block {
  width: 400px;
  font-size: 18px;
  float: left;
  font-weight: 200;
  cursor: move;
}
#header-block span {
  color: #292929;
  background-color: white;
}
#browse {
  width: 200px;
  float: right;
}
#logo {
  font-family: Helvetica,arial, sans;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 10px;
  right: 5%;
  z-index: 50;
  /*width:98%;*/

  text-align: right;
  font-weight: bold;
  /*line-height: 230px;*/

}
#logo span {
  background-color: black;
}
body {
  margin: 0px;
  width: 100%;
  height: 100%;
}
#button-wrapper {
  text-align: center;
  margin-top: 200px;
}
.roundborder {
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
.button {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
}
.button:hover {
  background-color: #7dddfd;
}
h1 {
  color: #4dd2ff;
}
.button-small {
  display: inline-block;
  background-color: #4DD2FF;
  color: white!important;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  border: none;
  font-size: 14px;
  padding: 0.5em;
  margin-top: 100px;
}
#page1 {
  height: 100%;
  width: 100%;
  padding: 0em;
}
#page2 {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0em;
}
#more-info,
#less-info {
  position: absolute;
}
#page1-wrapper,
#page2-wrapper {
  padding: 3em;
}
#instrucciones {
  background-color: rgba(0, 0, 0, 0.9);
  width: 500px;
  padding: 1em;
  cursor: move;
  margin-left: 4em;
  height: 600px;
  margin-top: 2em;
  overflow: auto;
}
#instrucciones h1 {
  float: left;
  padding: 0;
  margin: 0;
  margin-right: 1em;
}
#instrucciones div {
  clear: both;
}
#instrucciones a {
  color: #aaa;
  border-bottom: 1px dotted #888;
}
#instrucciones p {
  margin-left: 25px;
  padding-top: 5px;
}
#footer {
  background-color: black;
  color: white;
  position: relative;
  z-index: 500;
  width: 100%;
  min-height: 60px;
  padding-top: 10px;
}
#footer a {
  color: #4dd2ff;
}
