#header {
	display: none; 
}

body, #container {
	background-color: transparent;
	float: left;
	margin-top:0px;
	overflow-x: hidden;
	
}

#container {
	background-color: rgba(0, 0, 0, 0.9);

}

.navBar {
	display: none;

}

table {
	h3 {
		font-size: 4em;
		color: rgb(194, 255, 0);
	}
}


.content {
	.ref-notice {
		display: none;
	}

	/* (row) */
	th {
		font-size: 1.5em;
		color: rgb(207, 207, 207);
	}
	
	/* (description) */
	td  {
		font-size: 1.5em;
		color: rgb(255, 255, 255);
	}
	
	
	.license {
		display: none;
	
	}
}


#footer {
	display: none;

}