#help {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius:3px;
	z-index: 99;
	position: absolute;
	right: 100px;
	padding:10px;
	overflow-y: scroll;
	height: 500px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

	.APIclass { 
		background-color: white;
    	border-left: 0px;
    	border-right: 0px;
    	border-top: 0px;
    	border-color: #cecece;
    	border-bottom-width: 3px;
    	border-style: solid;
    	border-bottom-left-radius: 3px;
    	border-bottom-right-radius: 3px;
    	border-top-left-radius: 3px;
    	border-top-right-radius: 3px;
		padding: 5px;
		margin:5px;
	}

	h1 {
	   	font-family:'Open Sans Condensed', sans-serif;
	   	font-size:1em;
		text-align:center;
	} 

	h2 {
		font-weight: 200;
		font-size:0.75em;
	} 

	p {

	}
}