@charset "UTF-8";
/* CSS Document */

#connectedheader {
	background-color:#e7e7e7;
	border-bottom-color:#d2d2d2;
	border-bottom-style:solid;
	border-bottom-width:1px;
	color:#666;
	font-family:Verdana, Geneva, sans-serif;
	font-size:10px;
	height:25px;
	padding-bottom:10px;
	padding-left:10px;
	width:100%;
}

#mmeditor{
	width:100%;
	height:30em;
	margin-top:2em;
}

#code{
    height:100%;
	position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#editor {
	background-color:#f9f9f9;
	box-shadow:0 0 .25em 0 rgba(0,0,0,0.25);
	height:100%;
	margin-right:-75%;
	padding:3em 5em 8em;
	position:relative;
}

#editor-inner {
	max-width:1038px;
	position:relative;
	z-index:1;
	padding-right:5em;
	height:100%
}

#editor:after {
	display:block;
	height:100%;
	left:0;
	opacity:0.5;
	position:absolute;
	top:0;
	width:100%;
}

#logo {
	padding:1.75em .5em;
	text-align:center;
}

#logo h1 {
	color:#fff;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:2em;
	font-weight:700;
	letter-spacing:.1em;
}

#nav li {
	border-top:solid 1px rgba(0,0,0,0.25);
	box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.075);
	padding:.5em 0;
}

#nav li a {
	-moz-transition:background-color .25s ease-in-out, color .25s ease-in-out;
	-ms-transition:background-color .25s ease-in-out, color .25s ease-in-out;
	-o-transition:background-color .25s ease-in-out, color .25s ease-in-out;
	-webkit-transition:background-color .25s ease-in-out, color .25s ease-in-out;
	border-radius:.4em;
	display:block;
	outline:0;
	padding:.4em 1em;
	text-decoration:none;
	transition:background-color .25s ease-in-out, color .25s ease-in-out;
}

#nav li.current_page_item a {
	background-color:rgba(0,0,0,0.15)!important;
	box-shadow:0 0 0 1px rgba(255,255,255,0.05), inset 0 0 .25em 0 rgba(0,0,0,0.25);
	color:#fff;
	font-weight:700;
}

#nav li:after {
	transition:all .1s ease-in;
}

#nav li:first-child {
	border:0;
	box-shadow:none;
	padding-top:0;
}

#nav li:hover a {
	background-color: rgba(200,225,255,0.1);
	color: #fff;
	list-style-type: none;
}

#nav li:last-child {
	padding-bottom: 0;
	list-style-type: none;
}

#nav ul {
	margin:0;
}

#sidebar {
	background:#364050 url(images/bg1.png);
	box-shadow:inset -.1em 0 .35em 0 rgba(0,0,0,0.15);
	color:#929da4;
	height:100%;
	padding:3em 1.35em 1em 1.15em;
	position:absolute;
	text-shadow:-1px -1px 0 rgba(0,0,0,0.5);
	top:0;
	width:14em;
}

#sidebar a {
	color:#d4dde0;
}

#sidebar form input,#sidebar form select,#sidebar form textarea {
	border:0;
}

#sidebar header {
	margin:0 0 1.25em;
}

#sidebar section,#sidebar nav {
	font-size:.9em;
	margin:2em 0 0;
	position:relative;
}

#sidebar section:before,#sidebar nav:before {
	border-bottom:solid 1px;
	border-color:rgba(0,0,0,0.25);
	border-top:solid 1px;
	box-shadow:inset 0 1px 0 0 rgba(255,255,255,0.075), 0 1px 0 0 rgba(255,255,255,0.075);
	display:block;
	height:.5em;
	margin:0 0 2em;
}

#sidebar strong,#sidebar b,#sidebar h2,#sidebar h3,#sidebar h4,#sidebar h5,#sidebar h6 {
	color:#fff;
}

#tabs {
	background-color:#333;
	color:#fff;
	padding-bottom:10px;
	padding-top:10px;
	width:100%;
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	list-style-type: none;
}

.article-item .byline {
	font-size:2.25em;
	line-height:1.5em;
	margin-bottom:-.65em;
	position:relative;
	top:-.65em;
}

.article-item .info {
	background-color: #f9f9f9;
	border-bottom-left-radius: .4em;
	border-top-left-radius: .4em;
	box-shadow: .25em 0 0 0 #f9f9f9, 0 0 .25em 0 rgba(0,0,0,0.25);
	left: -10.5em;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 5.5em;
	z-index: 1;
	padding-top: 1.5em;
	padding-right: 0em;
	padding-bottom: 1.5em;
	padding-left: 0em;
}

.article-item .info .date {
	border-bottom:solid 1px #ddd;
	color:#999;
	display:block;
	font-family:'Open Sans Condensed', sans-serif;
	font-size:1.5em;
	font-weight:400;
	margin:0 0 .75em;
	padding:0 0 1em;
	position:relative;
	text-align:center;
	z-index:1;
}

.article-item .info .date .day {
	color:#1b252a;
	display:block;
	font-size:1.5em;
	font-weight:700;
	margin:.25em 0 0;
}

.article-item .info .date .year,.article-item .info .date .month span {
	display:none;
}

.article-item .info .stats {
	margin:0;
	position:relative;
	z-index:1;
}

.article-item .info .stats a {
	color:#1b252a;
	font-size:.8em;
	font-weight:700;
	text-decoration:none;
}

.article-item .info .stats li {
	margin: .35em 0 0;
	list-style-type: none;
}

.article-item .info .stats li a {
	-moz-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
	-ms-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
	border-radius: .4em;
	display: block;
	opacity: 0.5;
	padding: 0 .5em;
	text-align: center;
	transition: opacity .25s ease-in-out, background-color .25s ease-in-out;
}

.article-item .info .stats li:hover a {
	background-color:#f4f4f4;
	opacity:1.0;
}

.article-item .info:after {
	display:block;
	height:100%;
	left:0;
	opacity:0.5;
	position:absolute;
	top:0;
	width:100%;
	z-index:0;
}

.article-item h2 {
	font-size:3.25em;
	line-height:1.25em;
}

.article-item header {
	margin:0 0 3em;
	padding:2.75em 0 0;
}

.article-item,#wrapper {
	position:relative;
}

.button {
-moz-transition:background-color .25s ease-in-out, color .25s ease-in-out;
-ms-transition:background-color .25s ease-in-out, color .25s ease-in-out;
-o-transition:background-color .25s ease-in-out, color .25s ease-in-out;
-webkit-transition:background-color .25s ease-in-out, color .25s ease-in-out;
background-color:#c94663;
border-radius:.4em;
box-shadow:inset 0 0 0 1px rgba(255,255,255,0.15);
color:#fff;
display:inline-block;
font-family:'Open Sans Condensed', sans-serif;
font-weight:700;
padding:.5em 2em;
text-align:center;
text-decoration:none;
text-shadow:-1px -1px 0 rgba(0,0,0,0.5);
transition:background-color .25s ease-in-out, color .25s ease-in-out;
}

.button-alt {
background-color:#364050;
}

.button-big {
font-size:1.25em;
padding:.75em 2em;
}

.button-huge {
font-size:1.5em;
padding:.75em 2em;
}

.button-small {
font-size:.85em;
padding:.35em 1.5em;
}

.image {
display:inline-block;
}

.image img {
display:block;
width:100%;
}

.image-centered {
display:block;
margin:0 0 2em;
}

.image-centered img {
margin:0 auto;
width:auto;
}

.image-full {
display:block;
margin:0 0 2em;
width:100%;
}

.image-left {
float:left;
margin:0 2em 2em 0;
}

.is-search form:after {
background-image:url(images/sprites.png);
background-position:-96px 0;
display:block;
height:24px;
margin-top:-12px;
position:absolute;
right:4px;
top:50%;
width:24px;
}

.is-search input {
padding-right:34px;
position:relative;
}

.is-text-style1 .inner {
background-color:rgba(0,0,0,0.15);
border-radius:.4em;
box-shadow:0 0 0 1px rgba(255,255,255,0.05), inset 0 0 .25em 0 rgba(0,0,0,0.25);
padding:1.25em;
position:relative;
}

.link-icon24 {
	position: relative;
}

.link-icon24-1:before {
background-position:0 0;
}

.link-icon24-2:before {
background-position:-24px 0;
}

.link-icon24-3:before {
background-position:-48px 0;
}

.link-icon24-4:before {
background-position:-72px 0;
}

.link-icon24-5:before {
background-position:-96px 0;
}

.link-icon24:before {
background-image:url(images/sprites.png);
display:block;
height:24px;
left:0;
margin-top:-12px;
position:absolute;
top:50%;
width:24px;
}

#clickme a{
	
	text-align:center;
}

a {
color:#c94663;
}

a.button-alt:active,input.button-alt:active {
background-color:#263040;
}

a.button-alt:hover,input.button-alt:hover {
background-color:#465060;
}

a.button:active,input.button:active {
background-color:#b93653;
}

a.button:hover,input.button:hover {
background-color:#d95673;
}

body {
background-color:#e8e8e8;
height:100%;
line-height:1.75em;
}

body,input,textarea {
color:#565656;
font-family:'Source Sans Pro', sans-serif;
font-weight:400;
}

body.left-sidebar #editor {
margin-left:21em;
}

body.left-sidebar #sidebar {
left:0;
}

body.right-sidebar #editor {
margin-left:7em;
margin-right:14em;
}

body.right-sidebar #sidebar {
right:0;
}

br.clear {
clear:both;
}

form ::-webkit-input-placeholder,form :-moz-placeholder,form ::-moz-placeholder,form :-ms-input-placeholder {
color:#aaa;
}

form input,form select,form textarea {
-webkit-appearance:none;
border:solid 1px #ddd;
border-radius:.4em;
padding:.5em;
width:100%;
}

form input:focus,form textarea:focus {
box-shadow:0 0 2px 2px #c94663;
}

h2 {
font-size:1.2em;
}

h3,h4,h5,h6 {
font-size:1em;
}

p,ul,ol,dl,table {
margin-bottom:1em;
}

section > :last-child,article > :last-child,section > .inner > :last-child,article > .inner > :last-child,section:last-child,article:last-child {
margin-bottom:0;
}

section,article {
margin-bottom:3em;
}

span.button {
cursor:default;
opacity:0.35;
}



#overlay {

	#container {
		position: absolute;
		top: 0;
		z-index: 100;
		width: 100%;
		height: 100%;
		display: none;
		background-color: rgba(0, 0, 0, 0.8);
	}

	#toggle {
		position: absolute;
		z-index: 101;
		top: 0px;
		right: 0px;
		padding: 15px;
		background: red;
	}

	#toggle:hover {
		background: blue;
	}
}
