<?xml version="1.0" encoding="utf-8"?>
<manifest
     xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools"
     package="org.protocoder">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />


    <application
        android:name="org.protocoder.MainApp"
        android:icon="@drawable/protocoder_icon"
        android:label="@string/app_name"
        android:allowBackup="true"
        tools:replace="android:allowBackup">

        <!--android:stateNotNeeded="true"-->
        <activity
            android:name=".activities.LauncherActivity"
            android:icon="@drawable/protocoder_icon"
            android:label="@string/activity_name"
            android:logo="@drawable/protocoder_icon"
            android:theme="@style/ProtocoderAppTheme"
            android:launchMode="singleInstance"
         >


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.protocoder.LauncherActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>

            <intent-filter>
              <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />-->
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>


        <activity
            android:name="org.protocoder.MainActivity"
            android:label="@string/activity_name"
            android:theme="@style/ProtocoderAppTheme"
            android:logo="@drawable/protocoder_icon" >
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/ProtocoderAppTheme"
            android:parentActivityName=".MainActivity"
            android:label="@string/about_activity_name" >
        </activity>
        <activity
            android:name=".activities.WelcomeActivity"
            android:theme="@style/ProtocoderAppTheme"
            android:label="@string/welcome_activity_name" >
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.LicenseActivity"
            android:theme="@style/ProtocoderAppTheme"
            android:parentActivityName=".activities.SetPreferenceActivity"
            android:label="@string/licenses_activity_name"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".activities.SetPreferenceActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ProtocoderAppTheme"
            android:label="@string/settings_activity_name"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".activities.ProtoScriptShareActivity"
            android:label="ProtoScriptShare"
            android:theme="@style/ProtocoderAppTheme.Dialog"
            android:logo="@drawable/protocoder_icon" >

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>


        <activity android:name=".activities.ProtoAppInstallerActivity"
            android:label="@string/activity_name"
            android:theme="@style/ProtocoderAppTheme"
            android:logo="@drawable/protocoder_icon"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="org.protocoder.ProtoAppInstallerActivity" />
                <data android:scheme="file" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.proto" />
                <data android:host="*" />
            </intent-filter>
        </activity>
        <!-- android:screenOrientation="portrait" -->

        <provider
            android:name=".ProtoContentProvider"
            android:authorities="org.protocoder.contentprovider"
            android:exported="true"/>

    </application>

</manifest>