<?xml version="1.0" encoding="utf-8"?>
<manifest
     xmlns:android="http://schemas.android.com/apk/res/android"
     xmlns:tools="http://schemas.android.com/tools"
     package="org.protocoder">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />


    <application
        android:icon="@drawable/protocoder_icon"
        android:label="@string/app_name"
        android:allowBackup="true"
        tools:replace="android:allowBackup">

        <!--android:stateNotNeeded="true"-->
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/protocoder_icon"
            android:label="@string/activity_name"
            android:logo="@drawable/protocoder_icon"
            android:theme="@style/ProtocoderAppTheme"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.protocoder.LauncherActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="org.protocoder.intent.EXECUTE"></action>
            </intent-filter>

        </activity>

        <service android:name=".server.ProtocoderServerService"></service>
    </application>


</manifest>