{% extends "base.html" %}
{% block head %}

<head>
	<title> #codethesquare | View </title>

	
  	

	  {% if environment == 'production' %}
      <script type="text/javascript" src="/static/javascripts/editor-libs.js"></script>
    {% else %}
    	<script type="text/javascript" src="/static/javascripts/supersized/js/supersized.core.3.2.1.min.js"></script>
    	<script type="text/javascript" src="/static/javascripts/jquery.json-2.4.min.js"></script>
    	<script src="/static/javascripts/jquery.clippy.js" type="text/javascript"></script>
    	<script src="/static/javascripts/swfobject.js" type="text/javascript"></script> 
    	<script src="/static/javascripts/slides.min.jquery.js" type="text/javascript" charset="utf-8"></script>  
    {% endif %}
	
	<script type="text/javascript"> 
	           
       function removeSketch() {
				 //$("iframe")[0].remove();
				 $("iframe").remove();
		   }
		   
		  		function showArtistInfo(b) {
			$("iframe")[0].contentWindow.showArtistInfo(b);
					
		} 
		function processingStatus(isWorking, errorName, errorDescription, err) { 
			if (isWorking == true) {
				$("#processing_status").css('background-color', 'rgb(8, 151, 163)').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0});
				$("#processing_status").find("#msg").text("running");
				$("#processing_status").find("#errorName").empty();
				$("#processing_status").find("#errorDescription").empty();
			} else {
				$("#processing_status").css('background-color', 'rgb(163, 8, 8)').css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0});
				$("#processing_status").find("#msg").text("compiling error");
				$("#processing_status").find("#errorName").text(errorName).fadeIn();
				$("#processing_status").find("#errorDescription").text(errorDescription).fadeIn();	
				console.log(err)								
			}
		}	
		
		function previewSketch() {
			$("iframe")[0].contentWindow.preview();
			var posX = document.width / 2 - $("iframe").width();
		 	$("iframe").css({'position':'absolute','z-index':'2'}).animate({ 
								        width: "576px",
												height: "471px",
												top: "50px",
												left: posX
								      }, 200 );
								
			$("#previewProcessing").fadeIn('slow');
			
			showArtistInfo(true);
			setTimeout(function() {
				showArtistInfo(false);
				
			}, 4500);
		}
		
		
		function reloadCanvas(source) {    
    	var canvasHTML = "<iframe src='/static/html/canvas.html'> </iframe>";	
    		
    	// reload canvas 
    	$("iframe").remove();
        $("#processing").append(canvasHTML); 
    	
    	$("iframe").load(function() {
    	    $("iframe")[0].contentWindow.changeSketch(source);
        });
    
    	$("#display").fadeIn("normal");
    }
  global_status={}
  current_sketch=4;
  timer =null
  serverSketches=[]
  function createStructureViaAjax(){
    $.ajax({
      dataType: "json",
      url: '/sketch/getSketches/',
      success: function(data){
        serverSketches=JSON.parse(data.result);
        loopSketch()
      }
    }); 
  }
  
  function loopSketch(){    
    current_sketch+=1
    if (current_sketch>=serverSketches.length ){
      current_sketch=0;
    }
    var code=serverSketches[current_sketch].sketch
    //console.log(serverSketches[current_sketch].sketch)
    reloadCanvas(code)
    //if(serverSketches[current_sketch].read_id!='aba0ab4faf463cc28b016650a3ed39bc'){
      timer=setTimeout(function() {loopSketch()}, 30000);;
    //}
   // else{
     // console.log("encontrado")
    //}
    
  }
  
  function loadSketch(){
    $.ajax({
      dataType: "json",
      url: '/sketch/getSingleSketch',
      data: {'sketch_id': $('#sketchForm').val() },
      success: function(data){
        console.log(data)
        serverSketches=JSON.parse(data.result);        
            var code=serverSketches.sketch
           //console.log(serverSketches[current_sketch].sketch)
          reloadCanvas(code)
      }
    }); 

  
  }
			   
	
			$(document).ready(function() {			
			     camera=new websocketReader() 
					
					//play triggers video && sketch
					global_status['playingSketch'] = false;
					

					 
					$("#playButton").click(function() { 						
						if(global_status['playingSketch'] == false) {
						  $('video')[0].currentTime = 0
							//$("video")[0].play();
							
							
							$('#playButton span:first-child').text("Stop"); 
							$('#playButton span.ui-icon').removeClass('ui-icon-play');
							$('#playButton span.ui-icon').addClass('ui-icon-stop');
							$(this).addClass('redy')
							global_status['playingSketch'] = true;
						  if (typeof camera === 'undefined'){
                camera = new websocketEmulator($('video')[0]);
              }
              saveAndReload(session);
                //con.play();
							//saveAndReload(session); 
					    
						} else {
							$('#playButton span:first-child').text("Play");
							$('#playButton span.ui-icon').addClass('ui-icon-play');
							$('#playButton span.ui-icon').removeClass('ui-icon-stop');
							$("video")[0].pause();
							$("video")[0].currentTime = 0;
							$(this).removeClass('redy')
							camera.stop();
							removeSketch(); 
							global_status['playingSketch'] = false;
							$("#processing_status").css('background-color', 'rgba(255, 91, 77)').animate({opacity: 0.0}); 
						}
					});
					
				// -------- VIDEO CTRL -----------     
				   $( "#check" ).button({
              icons: {
                primary: "ui-icon-check"
              },
              text: false
          });     
          $( "#play-ctr" ).button({
              icons: { primary: "ui-icon-play" }, text: false 
          }).click(function(){
                  //if (typeof con === 'undefined'){
                   // con = new websocketEmulator();
                  //}
                  $('video')[0].play();                  
                  camera.connect();
                  
          });
          $( "#pause-ctr" ).button({
              icons: { primary: "ui-icon-pause" }, text: false 
          }).click(function(){
                  $('video')[0].pause();
                  if(global_status['playingSketch'] == true && typeof(con)!=undefined)
                    camera.pause();
          });
          $( "#restart-ctr" ).button({
              icons: { primary: "ui-icon-arrowreturnthick-1-s" }, text: false 
          }).click(function(){
              $('video')[0].currentTime = 0 
              if(global_status['playingSketch'] == true && typeof(con)!=undefined)
                camera.stop(); camera.play()
          });
          
          $( "#check" ).change(function(){
            if(this.checked) {
               $('#videocontainer').show();
            }else{
               $('#videocontainer').hide();          
            }         
                        
          });
          
          $('video').bind('ended',function(){
            //con.play() //como el video está en modo loop, reiniciamos el enviador
          });
          
        $("#loadSketchButton").click(function() {
          if( typeof timer != undefined)
            clearTimeout(timer)
            loadSketch()

					});
        $("#loopSketchButton").click(function() {
            createStructureViaAjax()

					});					
					$("#close_preview").click(function() {
						//console.log("hola");
						//previewSketch();
						$("#previewProcessing").fadeOut('slow');
						saveAndReload(session);

					});
					
						/*****demos menu ****/
    	generateFileList()				
    	   //show/hide menu
			   $('#examples-button').click(function(e){ 
                $('#fileList').css('top',e.pageY+5+'px')
                $('#fileList').css('left',e.pageX-190+'px')
                $('#fileList').toggle('100');                    
            } 
        );
        //when click
        $('.file').click(function(){            
            mfile=$(this).find('.title a').attr('name')
            location.href=base_url+'/sketch/view/'+mfile;          
        });		
				

          //createStructureViaAjax()
	 	
				});//fin on body load
	
	


	</script>
		<script src="/static/javascripts/src/ace.js" data-main="demo" type="text/javascript"></script>  
	<script src="/static/javascripts/src/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/javascripts/src/theme-creative2.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/javascripts/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
<!-- customjs -->
  <script src="/static/javascripts/client2server.js" type="text/javascript"></script>
  <script src="/static/javascripts/basic_functions.js" type="text/javascript"></script>
  <script src="/static/javascripts//socket.io.js" type="text/javascript"></script>
  <script src="/static/javascripts/websocketReader.js" type="text/javascript"></script>
	<!-- CSS -->	
    <link rel="stylesheet" href="/static/stylesheets/player.css" type="text/css" charset="utf-8">
    <link rel="stylesheet" href="/static/stylesheets/editor.css" type="text/css" charset="utf-8">
	
		<script type="text/javascript"> 	     
       {% if environment == 'development' %}
         base_url ="http://127.0.0.1:8081"
       {% endif %}
     </script>

	
{% endblock %}

{% block main %}
<div id="header">
    <div id="title">
  	 <a href="/"><h1> #codethesquare </h1> </a> Sketch viewer. Beta1
			
			<div id="top-menu">
      <a href="#"id ="examples-button" class="button2 roundbutton" style="min-width:9em; margin-right:2em; margin-top:-1em; float:left;"> <span syle="float:left">Examples </span>  <span class="ui-icon ui-icon-triangle-1-s"> </span> </a>

			</div>			
			
			</div>
   </div>

  <div id="content" class="viewer">   
		<div id = "previewcontainer">
			<div id = "canvascontainer"> 
		
			<div id = "processing"> 
			<iframe src='/static/html/canvas.html'> </iframe>
			</div>
		
			</div> 
			<div id = "processing_status"> 
				<p id ="msg"> idle </p> 
				<p id ="errorName"></p> 
				<p id ="errorDescription"></p> 
			</div>

  			<div id ="videocontainer">
  				<video poster="/static/videos/camera/camera.png"> 
  					<source src ="/static/videos/camera/output.mov" type='video/mov; '>
  					<source src ="/static/videos/camera/output.webm" type='video/webm; '>
  					<source src ="/static/videos/camera/output.ogv" type='video/ogg; '>
  					<source src ="/static/videos/camera/output.mp4" type='video/mp4; '>
  				</video>
  				<div id="video-ctr-block">
      			 <a href="#" id="play-ctr" class="video-ctr"/> </a>
      			 <a href="#" id="pause-ctr" class="video-ctr"/> </a>
      			 <a href="#" id="restart-ctr" class="video-ctr"/> </a>
  			 </div>   				
  			<p> This is just a small recording for testing purposes </p>
      </div>
			<noscript>
				<p>JavaScript is required to view the contents of this page.</p>
			</noscript> 
			<!-- ace editor -->

		</div>
 




		<!-- 
		--	Editor de texto 
		--
		--
		--
		-->
		<div id = "central_area"> 
		
			<div id = "toolbar">
  			  <a href="#" id = "playButton" class = "button2"> <span syle="float:left">Play</span>  <span class="ui-icon ui-icon-play"></span> </a>
	       <a href="#" id="previewButton" class="button2 "> Preview </a>  
	       
			</div>
			

			<div>
			 <input type=text id="sketchForm"> </input>
			 <a href="#" id="loadSketchButton" class="button2">Load Sketch</a>
			</div>
			<a href="#" id="loopSketchButton" class="button2">Loop Sketches</a>

			
		</div > <!--/central area -->
		
		<div id = "rightinfo"> 
      		</div>
      		Sketch name:
		  <h2> 	 dbdata.title 
		  </h2>
		  by<h2>  dbdata.author}}		    
		  </h2>
		  <div>
		     dbdata.comments 		    
		  </div>
		   dbdata.web     | default('')  
		   dbdata.twitter | default('')  
		  
		  <div style="margin-top:3em;">
		    This is a sketch intended to work at the medialab-prado media facade.
		    <a href="http://medialab-prado.es/article/fachada_digital_informacion_tecnica"> More info about the facade here</a>
      </div>
		  <div style="margin-top:3em;">  
		    <br/> This sketch viewer is still in beta mode. It will change in the future
		  </div>	  
		  
  	</div>  

          		
		
	
</div> 
<div id="fileList" class="popup north">
         

  </div>
  <!-- <script src="/static/javascripts/mpl_visor.js" type="text/javascript"></script> -->
	
{% endblock %}